body {
    


    /* background-color: white; */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cloudy-sky.png);
    opacity: 0.5;
    z-index: -1;
} 


.main {
    display: flex;
    width: auto;
    margin: 30px auto auto auto;
    align-items: center;
    /* justify-content: space-around; */
    /* flex-direction: column; */
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column; 
    width: 50%;   
}



canvas {
    border: 6px solid #3f4a54;
    border-radius: 10px;
    margin: 0px;
}

#start-button {
    width: 80px;
    height: 40px;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: #3f4a54;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    box-shadow: 4px 4px 4px rgba(138, 184, 214, 0.8);
}

#start-button:hover {
    background-color: #4d555e;
    box-shadow: 2px 2px 4px rgba(138, 184, 214, 0.8);
    color: #fff;
    transform: translateY(5px);
  }

.settings {
    
}

.coin {
    width: 40px;
    height: 40px;
}

p {
    margin-top: 0;
    text-align: center;
    font-family: sans-serif;
    color: #3f4a54;
}

.bug {
    width: 55px;
}

.iron {
    width: 40px;
}

/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
} */

.dropbtn {
    width: 70px;
    height: 70px;
    margin-left: 0px;
  }
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
    border: 0;
    display: block;
    text-align: center;
    font-family: sans-serif;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #ddd;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
